
body{
    height: 100vh;
    background: linear-gradient(
      to bottom ,
      black 0%,
      black 60%,
      gold 50%,
      gold 100%
    ); 
  }

  .par1{
    display: flex;
    position: relative;
    width: auto;
    height: auto;
    position: relative;
  }

  .logo{
    padding-left: 10%;
    margin-top:3%;
    margin-left: 4%;
    height:210px;
    width:250px;
    
  }
 


  .title{
    margin-top:-16%;
    margin-left:30%;
    font-size: 150px;
    font-family: sans-serif;
    border-radius: 0%;
    color: white;
    padding: 0%;
    border: 0ch;
    font-weight: 700;
    font-size: 30vh;
    justify-content: end;

  }
    
  .subtitle{
    font-family: sans-serif;
    letter-spacing: 19px;
    font-size: 40px;
    color: white;
    margin-bottom:auto;
    justify-content: center;
    margin-left: 31%;
    top: 35%;
    letter-spacing: 0.6cm;
    position: absolute;
  }

  .address1{
    top: -9%;
    float: left;
    margin-left: 10%;
    text-align: justify;
    font-size: 30px;  
    font-family: sans-serif;
    position: relative;

 }

  .address2{
    top: -9%;
    float: right;
    margin-right: 10%;
    font-size: 30px;
    font-family: sans-serif;
    position: relative;

  }
 

@media screen and (max-width: 550px) {
  .title {
      font-size: 40px;
      display: flex;
  }
  .subtitle {
      font-size: 10px;
      position: absolute;
      left: 36%;
      top: 34%;
      letter-spacing:1mm;
      display: flex;

  }
  .logo{
      width: 60px;
      height: 60px;
      display: flex;

  }
  .address1 {
      font-size: small;
      display: flex;

  }
  .address2 {
      font-size: small;
      display: flex;

  }
}

    